<%- include("./includes/navbar.ejs"); %>

<div class="container">
  <br />
  <a href="/materials" class="btn green">Go Back</a>
  <form id="form1" enctype="application/x-www-form-urlencoded">
    <div class="col s12 m6">
      <div class="card black-text text-darken-2">
        <div class="card-content">
          <h5 class="grey-text"><%= typeof msg !='undefined' ? msg : '' %></h5>
          <span id="identifier" class="card-title blue-text"
            >Edit Material</span
          >
          <div class="row">
            <div class="input-field col s12">
              <input id="text" type="text" name="name" />
              <label for="text">Material Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <span for="image" style="color: c1b1b0">Image</span>
              <input
                id="image"
                type="file"
                name="image"
                accept="image/png, image/jpeg"
                required
              />
            </div>
          </div>
          <label>Material Type</label>
          <select class="browser-default" name="state">
            <option value="" disabled selected>choose type</option>
            <option value="solid">Solid</option>
            <option value="liquid">Liquid</option>
            <option value="gas">Gas</option></select
          ><br />
          <div class="col s12 row">
            <div class="col s6">
              <label>Price(/kg)</label>
              <input type="number" placeholder="$0.0" name="price" />
            </div>
            <div class="col s6">
              <label>Quantity(unit(s))</label>
              <input type="number" placeholder="0" name="qty" />
            </div>
          </div>
          <input type="submit" class="btn blue" value="submit" />
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  const form1 = document.querySelector("#form1");
  form1.addEventListener("submit", async (e) => {
    e.preventDefault();
    var myForm = new FormData();
    myForm.append("name", e.srcElement[0].value);
    myForm.append("image", e.srcElement[1].files[0]);
    myForm.append("state", e.srcElement[2].value);
    myForm.append("price", e.srcElement[3].value);
    myForm.append("quan", e.srcElement[4].value);
    try {
      fetch("http://localhost:5000/posteditmaterial/<%= id %>", {
        method: "POST",
        body: myForm,
      }).then((result) => {
        result.json().then((data) => {
          console.log(data);
        });
      });
    } catch (err) {
      return console.log(err.message);
    }
  });
</script>
<%- include("./includes/footer.ejs")%>
