<%- include("./includes/navbar.ejs"); %>

<div
  style="
    display: flex;
    width: 100vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
  "
>
  <img src="./images/inventory-center.jpg" />
</div>
<%- include("./includes/footer.ejs")%>
